@use "../../../styles/variables" as *;

.Image--small {
  @include content-image;
  width: 56px;
  height: 56px;
  font-size: 17px;
  line-height: 24px;
}

.Image--medium {
  @include content-image;
  width: 64px;
  height: 64px;
  font-size: 20px;
  line-height: 28px;
}

.Image--large {
  @include content-image;
  width: 96px;
  height: 96px;
  font-size: 28px;
  line-height: 36px;
}

.Image--small,
.Image--medium,
.Image--large {
  img {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
  }
}
