@use "../../../../styles/variables" as *;

.FilterItem {
  @include flex(row, flex-start);
  @include psuedo;
  padding: 12px 0px 12px 14.5px;
  margin-bottom: 4px;
  border-radius: $border-radius;

  cursor: pointer;

  &:last-child {
    margin-bottom: 0px;
  }
}

.FilterItem__icon {
  width: 15px;
  height: auto;
}

.FilterItem__icon-container {
  width: 25px;
  height: auto;
}

.FilterItem__title {
  @include sidebar-item-value;
}
