@use "../../../../styles/variables" as *;

.Search-with-sidebar {
  box-sizing: border-box;
  height: 100vh;
}

.Search-with-sidebar {
  display: grid;
  grid-template-columns: 1fr 440px;
}

.Search__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  display: block;
}

.Search__description {
  @include text-secondary;
  margin-top: 8px;
  display: block;
}

.Search__character-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  margin-top: 40px;
}

@media only screen and (max-width: 768px) {
  .Search__left {
    padding: 20px;
  }

  .Search__character-list {
    column-gap: 0px;
  }

  .Search-with-sidebar {
    display: flex;
    flex-direction: column;
    grid-template-columns: none;
  }
}
