@use "../../../styles/variables" as *;

.FilterBar,
.FilterBar--open,
.FilterBar--close {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 100vh;
  border-right: $border-container;
  background: #ffffff;
  position: fixed;
  top: 0;
  right: -280px;
  z-index: 2;

  label {
    margin: 15px 0px;
    @include sidebar-item-value;
    display: inline-block;
  }

  select {
    @include input;
    @include text-primary;
    padding: 8px 40px 8px 12px;
    background: transparent url("../../../images/chevron-down.svg") no-repeat
      215px center;
    background-size: 17px;
    appearance: none;
    cursor: pointer;
    width: 100%;
  }
}

.FilterBar--open {
  right: 0px;
  animation: slide-right 0.2s ease-out backwards;
}

.FilterBar--close {
  right: -280px;
}

@keyframes slide-right {
  0% {
    right: 0px;
  }
  100% {
    right: -280px;
  }
}

.FilterBar__top {
  @include flex(column);
  margin-bottom: 20px;
}

.FilterBar__title {
  @include text-content-title;
  margin-top: 16px;
  text-align: left;
}

.FilterBar__description {
  @include text-secondary-small;
  margin-top: 4px;
  text-align: center;
}

.FilterBar__underlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #9f9f9f;
  opacity: 0.3;
}
