@use "../../../styles/variables" as *;

.SidebarDetail {
  right: -440px;
  width: 440px;
  border-left: $border-container;
  height: 100%;
  background: #ffffff;
  position: relative;
  animation: slide-right 0.2s ease-in forwards;
}

@keyframes slide-right {
  0% {
    right: -440px;
  }
  100% {
    right: 0;
  }
}

.SidebarDetail__top {
  @include flex(column);
  padding: 48px;
  background: #f2f2f2;
  border-bottom: $border-container;
}

.SidebarDetail__info {
  @include flex(column);
}

.SidebarDetail__items {
  padding: 0px 40px;
}

.SidebarDetail__profile {
  margin-top: 40px;

  a {
    font-weight: 600;
  }
}

.SidebarDetail__title {
  @include text-content-title;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  margin-top: 16px;
}

.SidebarDetail__subtitle {
  @include text-secondary;
  margin-top: 8px;
}

@media only screen and (max-width: 768px) {
  .SidebarDetail {
    display: initial;
    width: 100%;
    border-left: none;
    position: initial;
  }

  .SidebarDetail__items {
    padding-bottom: 40px;
  }
}
