@use "../../../styles/variables" as *;

.InfoItem__item {
  margin-top: 40px;
}

.InfoItem__item-label {
  @include sidebar-item-value;
  color: $text-secondary;
}

.InfoItem__item-value {
  @include text-primary;
  margin-top: 4px;
  text-transform: capitalize;
}
